@charset "utf-8";
.content {
  position: relative;
  display: block;
  margin-bottom: 50px;
}
.content .pageW {
  width: 1420px;
  height: 670px;
  background-color: aqua;
}
.content-top {
  position: relative;
  display: block;
  width: 1420px;
  height: 510px;
  margin: 0 auto;
  margin-bottom: 85px;
  background-color: blue;
}
.content-notice {
  position: relative;
  display: block;
  height: 100%;
  background: url("../images/visual01.jpg") no-repeat center / cover;
}
.content-box {
  position: relative;
  display: block;
  width: 50%;
  float: left;
  padding: 30px;
}
.notice-bg {
  background-color: rgba(255, 255, 255, 0.1);
}
.sw-notice a {
  position: relative;
  display: block;
  text-align: center;
}
.sw-notice-player {
  position: absolute;
  left: 25px;
  bottom: 10px;
  display: block;
  z-index: 99;
}
.circle {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 100%;
  line-height: 50px;
  text-align: center;
  background: none;
  cursor: pointer;
}
.sw-notice-pause {
  float: left;
  color: #fff;
  font-size: 3rem;
  font-family: "xeicon";
  margin-right: 10px;
}
.sw-notice-pause::before {
  content: "\ea3b";
}
.sw-notice-play {
  float: left;
  color: #fff;
  font-size: 3rem;
  font-family: "xeicon";
}
.sw-notice-play:before {
  content: "\ea3e";
}
.sw-notice-page {
  position: absolute;
  right: 25px;
  bottom: 10px;
  display: block;
  z-index: 99;
  width: 200px;
}
.sw-notice-prev {
  float: left;
  font-size: 3rem;
  color: #fff;
  font-family: "xeicon";
}
.sw-notice-prev:before {
  content: "\e93d";
}
.sw-notice-pg {
  position: relative;
  display: block;
  float: left;
  width: 100px;

  color: #fff;
  text-align: center;
  font-family: "NanumSquare";
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 25px;
}
.sw-notice-next {
    float: left;
    font-size: 3.0rem;
    color: #fff;
    font-family: 'xeicon';
}

.sw-notice-next:before {
    content: '\e940';
}
/* js 출력 후 css */
.sw-notice-pg .swiper-pagination-current {
    font-family: "NanumSquare";
    font-size: 1.8rem;
    font-weight: 400;
  }
  
  .sw-notice-pg .swiper-pagination-total {
    font-family: "NanumSquare";
    font-size: 1.8rem;
    font-weight: 400;
  }