@charset "utf-8";
/* 하단영역 */
.footer {
  position: relative;
  display: block;
  margin-top: 65px;
}
.footer .pagew {
  width: 1360px;
}
.footer-menu {
  position: relative;
  display: block;
  border-top: 1px solid #eaeff3;
  padding: 15px 0;
}

.footer-menu-list {
  position: relative;
  display: block;
  overflow: hidden;
}

.footer-menu-list > li {
  position: relative;
  display: block;
  float: left;
  width: 16.6666%;
  text-align: center;
}

.footer-menu-list > li > a {
  position: relative;
  display: block;
}

.footer-menu-list img {
  max-width: 190px;
}
.footer-wrap {
  position: relative;
  display: block;
  background: #232b36;
  padding: 30px 0;
}
.footer-copy {
  position: relative;
  display: block;
}
.footer-help {
  position: relative;
  display: block;
  overflow: hidden;
}

.footer-help li {
  position: relative;
  display: block;
  float: left;
  padding: 0 10px;
}

.footer-help li:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 13px;
  background: #fff;
}

.footer-help li:first-child {
  padding-left: 0;
}

.footer-help li:last-child {
  padding-right: 0;
}

.footer-help li:last-child:after {
  content: none;
}

.footer-help li a {
  position: relative;
  display: block;
  color: #b2b8c0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1;
  font-family: "NanumSquare";
}

.footer-help li a strong {
  color: #fff;
}

.footer-copy-list {
  position: relative;
  display: block;
  margin-top: 25px;

  font-family: "NanumSquare";
  font-size: 1.5rem;
  line-height: 1.2;
  color: #b2b8c0;
}

.footer-copy-list li {
  position: relative;
  display: block;
}

.footer-copy-list li:last-child {
  margin-top: 10px;
}
.footer-etc {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  z-index: 99;
}
.sns-icon-list {
  position: relative;
  display: block;
  float: left;
}
.sns-icon-list > li {
  position: relative;
  display: block;
  float: left;
  line-height: 31px;
  margin: 0 8px;
}
.sns-icon-list > li:last-child {
  margin-right: 24px;
}
.sns-icon-list > li > a {
  position: relative;
  display: block;
  color: #b2b8c0;
}
.link-site {
  position: relative;
  display: block;
  width: 187px;
  height: 31px;
  border: 1px solid #96979b;
  float: left;
  font-family: "NanumSquare";
}
.link-list-bt {
  position: relative;
  display: block;
  line-height: 31px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #b2b8c0;
  /*text-align: center;*/
  padding: 0 10px;
}
.link-list-bt i {
  float: right;
  margin-top: 6px;
}
.link-site-wrap {
  position: absolute;
  right: -1px;
  bottom: 32px;
  display: block;

  width: 260px;
  height: 0;
  background-color: #eef4fc;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transition: all 0.5s;
  /* transition: height 0.5s, opacity 0.5s; */
}
/* js기능 클래스 추가 */
.link-site-wrap-on{
    height: 500px;
    opacity: 1;
}

.link-site-list {
    position: relative;
    display: block;
    font-family: 'NanumSquare';
    color: #b2b8c0;
}

.link-site-list dt {
    position: relative;
    display: block;
    background: #000;
    font-size: 1.7rem;
    padding: 10px;
}

.link-site-list dd {
    position: relative;
    display: block;
}

.link-site-list dd a {
    position: relative;
    display: block;
    font-size: 1.5rem;
    padding: 5px 15px;
    color: #b2b8c0;
    white-space: nowrap;
}

.link-site-list dd a:hover {
    background: #171d25;
}
.wa-link {
    position: absolute;
    right: 0;
    top: 50px;
    display: block;
}